<div class='container'>
    <form action="/newinfo" method="POST" class='form'>
            <input type="text" name="LastName" value="{{lastname}}" placeholder="Last Name">
            <input type="text" name="FirstName" value="{{firstname}}" placeholder="First"><br>
            <input type="email" name="Email" value="{{email}}" placeholder="Email@email.com"><br>
            <input type="number" name="Age" value="{{age}}" placeholder="Years Old">
            <input type="number" name="Height" value="{{height}}" placeholder="In Inches">
            <input type="number" name="BodyWeight" value="{{bodyweight}}" placeholder="In Lbs"><br>
            <input type="text" name="Gender" value="{{gender}}">Male or Female<br>
            <input type="text" name="Ethnicity" value="{{ethnicity}}" placeholder="Ethnicity"><br>
            <input type="submit">
        </form>

        <button class='button is-primary'>
        <a href="/info">Return To Info List</a>
        </button>
</div>