    <form action="/{{medid}}/med" method="POST">
        <input type="text" name="MedName" value="{{medname}}" placeholder="Med Name">
        <input type="text" name="AmtAvail" value="{{amtavail}}" placeholder="Quantity Remaining">
        <input type="text" name="LotNum" value="{{lotnum}}" placeholder="Numbers/Letters">
        <input type="text" name="ExpDate" value="{{expdate}}" placeholder="MM/DD/YYYY">
        <input type="submit">
        <input type="reset">
    </form>

<button>
    <a href="/med">Return to Med Page</a>
</button>
<button>
    <a href="/">Return Home</a>
</button>