<div class="container">
    <img src="/images/Logo.png" alt="Shot Tracker" srcset="">
    {{#each Medicine}} 
        <form>
            <input type="text" name="MedName" value="{{medname}}" placeholder="Med Name" class="input">
            <input type="text" name="AmtAvail" value="{{amtavail}}" placeholder="Quantity Remaining" class="input">
            <input type="text" name="LotNum" value="{{lotnum}}" placeholder="Numbers/Letters" class="input">
            <input type="text" name="ExpDate" value="{{expdate}}" placeholder="MM/DD/YYYY" class="input">
        </form>
        <br>
        <div class="side">
            <button class="button is-light">
                <a href="/{{medid}}/med">Edit Medicine</a>
            </button>
            
            <button class="button is-danger">
                <a href="/{{medid}}/deletemed">Delete Medicine</a>
            </button>
            
            <button class="button is-light">
                <a href="/record/{{medid}}">Record</a>
            </button>
        </div>
        <br>
    {{/each}}
</div>
<div class="container">
    <button class="button is-success">
        <a href="/">Return Home</a>
    </button>
    <br>
    <button class="button is-primary">
        <a href="/newmed">Add New Med</a>
    </button>
    <footer>
        &copy; 2018 Matt and Bhisma
    </footer>
</div>