{{#each Shot}} 
    <form>
        <input type="date" name="ShotTime" value="{{shottime}}" placeholder="YYYY/MM/DD HH:MM:SS">
        <input type="text" name="ShotLocation" value="{{shotlocation}}" placeholder="Shot Location"><br>
        <textarea name="Notes" id="" cols="30" rows="10">{{notes}}</textarea>
    </form>
    <button>
    <a href="/record/{{medid}}/{{shotid}}">Edit Record</a>
    </button>
        <button>
    <a href="/deleterecord/{{medid}}/{{shotid}}">Delete Shot Record</a>
    </button>
{{/each}}

<button>
    <a href="/">Return Home</a>
</button>

<button>
    <a href="/newrecord/{{medid}}">Add New Shot Record</a>
</button>