 <div class="container">
     <img src="/images/Logo.png" alt="Shot Tracker" srcset="">
     <form action="/deleterecord/{{medid}}/{{shotid}}" method="POST">
            <input type="hidden" name="medid" value="{{medid}}" class="input">
            <input type="text" name="ShotTime" value="{{shottime}}" placeholder="YYYY/MM/DD HH:MM:SS" class="input">
            <input type="text" name="ShotLocation" value="{{shotlocation}}" placeholder="Shot Location" class="input">
            <textarea name="Notes" cols="30" rows="10" placeholder="Notes" class="textarea">{{notes}}</textarea>
            <br>
            <input type="submit" class="button is-danger">
            <br>
            <input type="reset" class="button is-warning">
        </form>
</div>
<div class="container">    
    <button class="button is-info">
        <a href="/record/{{medid}}">Return to Record Page</a>
    </button>
    <br>
    <button class="button is-success">
        <a href="/">Return Home</a>
    </button>
    <footer>
        &copy; 2018 Matt and Bhisma
    </footer>
</div>