    <form action="/record/{{medid}}/{{shotid}}" method="POST">
        <input type="date" name="ShotTime" value="{{shottime}}" placeholder="YYYY/MM/DD HH:MM:SS">
        <input type="text" name="ShotLocation" value="{{shotlocation}}" placeholder="Shot Location"><br>
        <textarea name="Notes" cols="30" rows="10">{{notes}}</textarea>
        <input type="submit">
        <input type="reset">
    </form>

<button>
    <a href="/record/{{medid}}">Return to Record Page</a>
</button>

<button>
    <a href="/">Return Home</a>
</button>